@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --shadow-color: #9ca3af;
  --main-back-color: #d1d5db;
}

body {
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 150px auto;
  background-color: var(--main-back-color);
}

.cards {
  grid-column: 2;
  grid-row: 2;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    clamp(100px, 31%, 500px)
  ); /* clamp(100px, 31%, 500px) */
  gap: 10px;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px var(--shadow-color);
}

p {
  word-break: break-all;
}

.book-title {
  font-weight: bold;
  font-size: large;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: white;
  box-shadow: 3px 3px 3px var(--shadow-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.library-name {
  grid-column: 1;
  font-size: 100px;
  font-weight: bold;
  align-self: end;
  margin: 20px;
}

#add-book-dialog {
  border: none;
  width: 40%;
  border-radius: 10px;
}

#add-book-form label {
    font-size: large;
}

.form-header {
  display: grid;
  grid-template-columns: 1fr;
}

.form-header span {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
  font-size: x-large;
  justify-self: center;
}

#read {
    justify-self: start;
}

#cancel {
  grid-column: 1;
  grid-row: 1;
  margin-left: 5px;
  justify-self: end;
  border: hidden;
  box-shadow: inset 1px 1px 3px #fff;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  background: white;
}

#cancel::before,
#cancel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #e5e7eb;
  margin: auto 4px;
  height: 2px;
  transform: rotateZ(45deg);

}

#cancel::after {
  transform: rotateZ(-45deg);
}

.add-book form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border: none;
}

.title-error,
.author-error,
.num-pages-error,
.book-add-error {
  color: red;
}

#show-dialog {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  border: hidden;
  margin: 4px;
  padding: 10px;
  background-color: #3b82f6;
  box-shadow: 0px 0px 7px var(--shadow-color);
}

#show-dialog:before,
#show-dialog:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

#show-dialog:before {
  width: 4px;
  margin: 10px auto;
}
#show-dialog:after {
  margin: auto 10px;
  height: 4px;
}

#show-dialog:hover {
  transform: scale(1.5) perspective(1px);
}

.book-icon {
  width: 25px;
  justify-self: center;
}

.author-icon,
.pages-icon {
  width: 25px;
  align-self: center;
}

.book-author-container,
.book-pages-container {
  display: flex;
  gap: 10px;
}

.book-info {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.book-read {
  width: 35px;
  align-self: center;
}

.toggle-read,
.remove-card,
#confirm-btn {
  width: 50%;
  align-self: center;
  justify-self: center;
  font-size: medium;
  padding: 10px;
  border-radius: 10px;
  border: hidden;
  box-shadow: 3px 3px 5px var(--shadow-color);
}

#confirm-btn {
    background-color: #bbf7d0;
}

#confirm-btn:hover {
    background-color: #22c55e;
}

.toggle-read {
  background-color: #3b82f6;
}

.toggle-read:hover {
  background-color: #1e40af;
}

.remove-card {
  background-color: #ef4444;
}

.remove-card:hover {
  background-color: #991b1b;
}

.stats-display {
  align-self: center;
  justify-self: end;
  margin-right: 50px;
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.stats-display svg {
    width: 22px;
}

.num-books-display,
.num-authors-display,
.num-books-read-display {
  display: flex;
  gap: 15px;
}
