@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 200px auto;
}

.cards {
  grid-column: 2;
  grid-row: 2;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(100px, 30%, 300px));
  gap: 10px;
  justify-content: space-between;
}

.card {
  border: solid;
  height: 300px;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
  border: solid;
}

.add-book dialog {
  border: none;
}

#cancel {
  margin-left: 5px;
  justify-self: end;
}

.form-header span {
  justify-self: center;
}

.add-book form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border: none;
}

.title-error,
.author-error,
.num-pages-error {
  color: red;
}
